<form class="placingForm" name="placingForm" novalidate data-ng-submit="submit()">

    <h2>Place an ad</h2>

    <div class="formCategory">
        <label>Category</label><br/>
        <select data-ng-model="form.category" required>
            <option value="" selected>Select the category</option>
            <option value="cars">Cars</option>
            <option value="houses">Houses</option>
        </select><br/>

    </div>

    <label>Title</label><p> (max. 40 char.)</p><br/>
    <input type="text" class="formTitle" name="formTitle" placeholder="e.g. Volvo S60" data-ng-model="form.title" maxlength="40" required/><br/>

    <label>Description</label><p> (350-700 char.)</p><br/>
    <textarea class="formDescription" placeholder="Describe the stuff you want to sell" data-ng-model="form.description" maxlength="700" required></textarea><br/>

    <div class="formPrice">
        <label>Price(&euro;)</label><p> (max. 9 char.)</p><br/>
        <input type="text" placeholder="e.g. 50 or 19.99" data-ng-model="form.price" maxlength="10" required/><br/>
    </div>

    <label>Image</label><p> (1 image min. width 700px)</p><br/>
    <div class="button" ngf-select ng-model="files" ngf-multiple="true">SELECT FILE</div>
    {{ message }}
    <div class="contact_information">

        <div class="formCategory">
            <label>City</label><br/>
            <select data-ng-model="form.city" required>
                <option value="" selected>Select the city</option>
                <option value="Helsinki">Helsinki</option>
                <option value="Turku">Turku</option>
            </select><br/>
        </div>

        <label>Name</label><p> (max. 30 char.)</p><br/>
        <input type="text" class="formTitle" placeholder="e.g. Pavel Bure" data-ng-model="form.name" maxlength="30"/ required><br/>

        <div class="notation">
            <p>ALL FIELDS ARE REQUIRED</p>
        </div>

        <label>Telephone number</label><p> (max. 10 char.)</p><br/>
        <input type="text" class="formTitle" placeholder="e.g. 0461112233" data-ng-model="form.phone" maxlength="10" required/><br/>

    </div>

    <div class="formButton">
        <button type="submit" data-icon="&#xe60a;"></button>
        <div ng-show="placingForm.$submitted">
            <div data-ng-show="placingForm.formTitle.$error.required">USE DIALOG!</div>
        </div>
    </div>
    
    <p>{{ errorMessage }}</p>

</form>
